@media (min-width: 992px) and (max-width: 1399px) { 


    * {
        margin: 0;
        padding: 0;
        text-decoration: none;
        list-style: none;
        border: none;
       
    }
    
    body {
        font-family: 'Roboto', sans-serif;
        color: #1D222B;
        background-image: url('../img/background.svg');
        background-repeat: no-repeat;  
        background-position: bottom -5% left 170%;
        background-attachment: fixed;
        overflow: none;
    }

     
    span {
        color: #FF796E;
    }
    
    .container {
        width: 90%;
        margin: auto;
    }
    
    .btn {
        background-color: #1D222B;
        padding: 10px 20px;
        border-radius: 20px;
        text-transform: uppercase;
        color: white;
        font-size: 0.7em;
        text-align: center;
    }

    #burger {
        display: none;
    }

    nav {
        display: flex;
        margin-top: 4%;
        gap: 20%;
    }

    ul {
        display: flex;
    }

    ul li a {
        color: black;
        text-transform: uppercase;
        margin-right: 30px;
        font-size: 0.75em;
    }

    h2 {
        margin-top: 10vh;
        font-size: 3em;
        white-space: pre-line;
    }
    
    main {
        display: flex;
        flex-direction: column;
    }
    
    main p {
        margin-top: 5vh;
        line-height: 1.5em;
        font-size: 1.1em;
        white-space: pre-line;
    }
    
    input {
        border-bottom: 1px solid grey;
        padding-bottom: 10px;
        margin-top: 15vh;
        outline: none;
        width: 30%;
    }
    
    #access {
        width: 100px;
        margin-left: 10px;
        
    }

    #contact {
        display: inline-block;
      
    }
    
































}